[DEFAULT]

name = im

# Task parameters
env = CoverageARL-v0
pretrain = True

# No RL training
total_timesteps = 0

# Model parameters
aggregation = [1,1,1,1,1,1,1,1,1,1]
pretrain_dataset = data/expert75.npz
pretrain_adam_eps = 1e-6
pretrain_lr = 1e-4
pretrain_lr_decay_factor = 0.97
pretrain_lr_decay_steps = 5000


[_22]